.video-grid {
    width: 250px;
    background-color: black;
    padding: 20px;
}



.video-grid video {
    width: 100%;
    object-fit: cover;
}

/* .open-video-button {
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
  background-color: #0B5ED7;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.open-video-button:hover {
  background-color: #084298;
} */

.open-video-button {
  top: 100px;
  right: 20px;
}

@media (max-width: 768px) {
  .open-video-button {
    top: 10px;
    right: 10px;
  }
}

/* Mobile view: fix to top-right
@media (max-width: 768px) {
  .open-video-button {
    top: 10px;
    right: 10px;
  }
} */
